:root {
  --font-family: "Public Sans", sans-serif;
  --second-family: "DM Serif Display", sans-serif;
  --third-family: "PublicSans", sans-serif;
  --font3: "Roboto Mono", sans-serif;
  --button: #ba4270;
  --button-font: #fbfcfe;
  --gray: #36536b;
  --gray2: #6c8294;
  --gray: #fbfcfe;
}
